/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --display-rec: none;
  --background-color: #fff1f7;
  --text-color: #353430;
  --heading-color: #ffc2e6;
  --title-decor-color: #353430;
  --title-color: #353430;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --menu-color: #353430;
  --accent-color: #ff8dcb;
  background-image: url(../images/cover-image-light.png);
}
